* {
  box-sizing: border-box;
  background-color: rgb(230, 230, 219);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
}

.logo {
  width: 90px;
  margin-left: 40px;
}

.nav_wrapper {
  display: flex;
  margin: 0 auto;
}

.nav_menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  color: blueviolet;
}

.nav_item1:before {
  content: "💜";
}

.nav_item a {
  text-decoration: none;
  text-transform: uppercase;
}

.button {
  margin-left: auto;
  margin-right: 40px;
  align-self: center;
  border-color: rgb(219, 43, 43);
  background-color: rgba(255, 166, 0, 0.94);
}

.title {
  padding-bottom: 30px;
  text-align: center;
  font-size: 44p;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(77, 76, 76);
}

section.gallery {
  display: flex;
  padding: 0px 40px 20px 40px;
}

.gallery_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery_item:hover {
  position: relative;
  transform: scale(1.1); /* увеличиваем масштаб на 10%*/
  transition: 0.5s;
}

.gallery_item {
  max-width: 30%;
  margin: 0 0 15px;
  flex-grow: 1;
  justify-content: space-between;
  object-fit: cover;
}
